.footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color:#464646;
    margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
    .footer{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}