.btn__admin {
    width: 166px;
    
}

.titulo__admin {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    padding: 1rem;
}

.add__producto{
    margin: 1rem;
}

.addProducto{
    margin: 0 1rem;
    width: calc(100% - 2.2rem);
}

#sendMensaje{
    margin: 0.3rem 0 1rem 1rem;
}

.footer{
    padding-top: 1rem;
}

.cargar_imagen{
    position: absolute;
    top: 0.5rem;
    left: 90%;
    width: 35px;
    height: 35px;
}

.link_carga{
    width: 35px;
    height: 35px;
    
}

.input_img{
    display: none;
}

.icon__carga{
    background: url("../../../imagenes/icon-carga.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
}

@media screen and (min-width:768px) {
    .encabezado{
        justify-content: space-between;
    }

    .contacto__formulario{
        width: 400px;
    }

    .contacto{
        justify-content: space-evenly;
        
    }
    .cargar_imagen{
        left: 95%
    }
}

@media screen and (min-width:1120px) {
    .add__producto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulo__admin{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

    .size{
        width: 33.3%;
    }

    .addProducto{
        width: 33.3%;
        margin-bottom: 2rem;
    }

    .contacto{
        justify-content: center;
    }
    
    #nombre_mensaje{
        width: calc(100% - 2rem)
    }

    .cargar_imagen{
        left: 90%
    }

    
}