.sw-1{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sw-2{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sw-3{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sw-4{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sw-5{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sw-6{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/sw-6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-1{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-2{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-3{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-4{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-5{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consola-6{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/consola-6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-1{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-2{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-3{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-4{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-5{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diverso-6{
    width: 100%;
    height: 174px;
    background: url("../../../imagenes/diverso-6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.img_new{
    width: 100%;
    height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    
}

